#container #section.no01 .inner .item {
  position: relative;
}

#container #section.no01 .inner .item img {
  display: block;
  width: 100%;
}

#container #section.no01 .inner .item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'century gothic bold';
  color: #1b1919;
}

#container #section.no02 {
  margin: 100px 0;
}

#container #section.no02 .innerWrap {
  width: 70%;
}

#container #section.no02 .innerWrap .inner {
  display: flex;
  justify-content: center;
}

#container #section.no02 .innerWrap .inner .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 25%;
}

#container #section.no02 .innerWrap .inner .item img {
  margin-bottom: 50px;
}

#container #section.no02 .innerWrap .inner .item .infoBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container #section.no02 .innerWrap .inner .item .infoBox .title {
  font-size: 20px;
  font-family: 'century gothic bold';
  color: #1b1919;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}

#container #section.no02 .innerWrap .inner .item .infoBox .title:hover {
  color: #5cad8e;
}

#container #section.no02 .innerWrap .inner .item .infoBox .desc {
  text-align: center;
}

@media all and (max-width: 990px) {
  #container #section.no01 .inner .item {
    position: relative;
  }
  #container #section.no01 .inner .item img {
    display: block;
    width: 100%;
  }
  #container #section.no01 .inner .item .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'century gothic bold';
    color: #1b1919;
  }
  #container #section.no02 {
    margin: 100px 0;
  }
  #container #section.no02 .innerWrap .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container #section.no02 .innerWrap .inner .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 25%;
    margin-bottom: 50px;
  }
  #container #section.no02 .innerWrap .inner .item img {
    margin-bottom: 20px;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .title {
    font-size: 20px;
    font-family: 'century gothic bold';
    color: #1b1919;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .title:hover {
    color: #5cad8e;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .desc {
    text-align: center;
  }
}

@media all and (max-width: 780px) {
  #container #section.no01 .inner .item {
    position: relative;
  }
  #container #section.no01 .inner .item img {
    display: block;
    width: 100%;
  }
  #container #section.no01 .inner .item .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'century gothic bold';
    color: #1b1919;
  }
  #container #section.no02 {
    margin: 100px 0;
  }
  #container #section.no02 .innerWrap .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container #section.no02 .innerWrap .inner .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 25%;
    margin-bottom: 50px;
  }
  #container #section.no02 .innerWrap .inner .item img {
    margin-bottom: 20px;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .title {
    font-size: 20px;
    font-family: 'century gothic bold';
    color: #1b1919;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .title:hover {
    color: #5cad8e;
  }
  #container #section.no02 .innerWrap .inner .item .infoBox .desc {
    text-align: center;
  }
}
