//메인페이지


.gBtn{
  font-size: 16px;
  padding: 12px 28px;
  background-color: #000000;
  }
#section{
  margin-bottom: 100px;
}

#container{
  height: auto;
  #section.no02{
    .innerWrap{
      .inner{
        display: flex;
        justify-content: space-around;
        .item{
          flex:25%;
          flex-shrink: 1;
          flex-grow: 0;
          img{
            display: block;
            width: 100%;
          }
          .infoBox{
            text-align: center;
            .title{
              font-size: 18px;
              font-family: "Century Gothic";
              padding-bottom: 10px;
            }
            .desc{
              font-size: 16px;
              line-height: 1.5;
              color:#636363;
            }
          }
        }
      }
    }
  }
  #section.no03{
    .inner{
      .item{
        position: relative;
        img{
          display: inline-block;
          width: 100%;
        }
        .btnBox{
          position: absolute;
          display: flex;
          flex-direction: column;

          justify-content: center;
          &.right{
            top:40%;
            right:15%;
            text-align: right;
            align-items: flex-end;
          }
          &.left{
            top: 40%;
            left: 15%;
            align-items: flex-start;
          }
          .infoBox{
            margin-bottom: 15px;
            .title{
              font-size: 56px;
            }
            .desc{
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  #section.no04{
    .innerWrap{
      .inner{
        display: flex;
        justify-content: space-around;
        .item{
          flex:25%;
          flex-shrink: 1;
          flex-grow: 0;
          .zoom{
            overflow: hidden;
            width: 100%;
            margin-bottom: 50px;
            img{
              display: inline-block;
              width: 100%;
              transition: 1s;
              &:hover{
                transform: scale(1.2);
              }
            }
          }
          .infoBox{
            text-align: center;
            margin-bottom: 100px;
            .title{
              font-size: 18px;
              font-family: "Century Gothic";
              padding-bottom: 10px;
            }
            .desc{
              font-size: 16px;
              line-height: 1.5;
              color:#636363;
            }
          }
        }
      }
    }
  }
  #section.no04{
    .innerWrap{
      .inner{
        display: flex;
        justify-content: space-around;
        .item{
          flex:25%;
          flex-shrink: 1;
          flex-grow: 0;
          .zoom{
            overflow: hidden;
            width: 100%;
            margin-bottom: 50px;
            img{
              display: inline-block;
              width: 100%;
              transition: 1s;
              &:hover{
                transform: scale(1.2);
              }
            }
          }
          .infoBox{
            text-align: center;
            margin-bottom: 100px;
            .title{
              font-size: 18px;
              font-family: "Century Gothic";
              padding-bottom: 10px;
            }
            .desc{
              font-size: 16px;
              line-height: 1.5;
              color:#636363;
            }
          }
        }
      }
    }
  }
}


@media all and (max-width:990px){
  #container{
    #section.no03{
      .inner{
        .item{
          .btnBox{
            &.right{
              align-items: center;
            }
            &.left{
              align-items: center;
            }
            .infoBox{
              margin-bottom: 15px;
              .title{
                font-size: 56px;
              }
              .desc{
                font-size: 22px;
              }
            }
          }
        }
      }
    }
    #section.no04{
    .innerWrap{
      .inner{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item{
          flex:25%;
          flex-shrink: 1;
          flex-grow: 0;
          .zoom{
            overflow: hidden;
            width: 100%;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            img{
              display: inline-block;
              width: 50%;
              transition: 1s;
              &:hover{
                transform: scale(1.2);
              }
            }
          }
          .infoBox{
            text-align: center;
            margin-bottom: 100px;
            padding: 0 50px;
            .title{
              font-size: 18px;
              font-family: "Century Gothic";
              padding-bottom: 10px;
            }
            .desc{
              font-size: 16px;
              line-height: 1.5;
              color:#636363;
            }
          }
        }
      }
    }
  }
  }
}


@media all and (max-width:780px){
  #container{
    #section.no01{
      .innerWrap{
        width: 100%;
      }
    }
    #section.no02{
      .innerWrap{
        .inner{
          flex-direction: column;
          .item{
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
              width: 50%;
            }
          }
        }
      }
    }
    #section.no03{
      .inner{
        .item{
          position: relative;
          img{
            display: inline-block;
            width: 100%;
          }
          .btnBox{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255,255,255,0.5);
            width: 80%;
            height: 80%;
            &.right{
              top:50%;
              left:50%;
              text-align: center;
              align-items: center;
            }
            &.left{
              top:50%;
              left:50%;
              text-align: center;
              align-items: center;
            }
            .infoBox{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 20px 0 ;
              .title{
                font-size: 25px;
                margin-bottom: 10px;
              }
              .desc{
                font-size: 16px;
              }
            }
            a.gbtn{
              font-size: 12px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
    #section.no04{
      .innerWrap{
        .inner{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .item{
            flex:25%;
            flex-shrink: 1;
            flex-grow: 0;
            .zoom{
              overflow: hidden;
              width: 100%;
              margin-bottom: 50px;
              display: flex;
              justify-content: center;
              img{
                display: inline-block;
                width: 50%;
                transition: 1s;
                &:hover{
                  transform: scale(1.2);
                }
              }
            }
            .infoBox{
              text-align: center;
              margin-bottom: 100px;
              padding: 0 50px;
              .title{
                font-size: 18px;
                font-family: "Century Gothic";
                padding-bottom: 10px;
              }
              .desc{
                font-size: 16px;
                line-height: 1.5;
                color:#636363;
              }
            }
          }
        }
      }
    }
  }
}
